body {
    background-image: url('comidafondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    color: white;
    text-align: center;
    border: 10px double hsl(6, 14%, 60%);
}

.texto {
    text-align: center;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}

.imagen {
        display: block;
    margin: 10px auto;
}

