body {
    background-image: url('nochecoban.jpeg'); 
    background-size: cover;
    color: white; 
    text-align: center;

}

.titulo {
    border: 10px dotted hsl(0, 0%, 100%);
}




